<div ng-controller="AddCustomerCtrl as customer" layout="column" layout-padding ng-cloak>

    <br />
            <!-- Use floating label instead of placeholder -->
            <label>First Name</label>
    
            <input ng-model="customer.user.FirstName" type="text"  placeholder="First Name">
    

        
            <label>Last Name</label>
            
            <input ng-model="customer.user.LastName" type="text" placeholder="Last Name">

        <input type="button" ng-click="customer.AddCustomer()" value="Add Customer" />

        <input type="button" ng-click="customer.DeleteCustomer()" value="Delete Customer" />

      <!-- <md-input-container md-no-float class="md-block">
            <input ng-model="user.address" type="text" placeholder="Address">
            <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
        </md-input-container>

        <md-input-container class="md-block">
          
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="user.BirthDay" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>
          --> 

        


</div>